<!DOCTYPE html>
<html xmlns:th="https://www.thyemeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
	<link th:href="@{/main.css}" rel="stylesheet"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Canadian Foods</title>
</head>
<body>
<a th:href="@{/}"><img th:src="@{../images/canada.png}" class="logo"/></a>
<div class="topnav">
  <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
  <a href="/add"><i class="fa fa-fw fa-plus"></i>Add</a>
  <a href="/search"><i class="fa fa-fw fa-search"></i>Search</a>
  <a href="/sportsList"><i class="fa fa-fw fa-futbol-o"></i>All Sports</a>
  <a href="/regionList"><i class="fa fa-fw fa-map"></i>All Regions</a>
  <a href="/inventionList"><i class="fa fa-fw fa-lightbulb-o"></i>All Inventions</a>
  <a href="/languageList"><i class="fa fa-fw fa-language"></i>All Languages</a>
  <a class="active" href="/foodList"><i class="fa fa-fw fa-cutlery"></i>All Foods</a>
  <a href="/loginPage" th:if="${session.role == null}"><i class="fa fa-fw fa-user"></i>Login</a>
  <a href="/endSession" th:if="${session.role == 'admin'}"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
</div>
	<div class="result-table">
		<div class="form-group">
			<table th:if="${foodList!= null and !foodList.empty}">
				<tr class="row">
					<th class="col">ID</th>
					<th class="col">Food Name</th>
					<th class="col">Food Type</th>
					<th class="col">Origin</th>
					<th class="col">Recipe Links</th>
					<th class="col" th:if="${session.role == 'admin'}"></th>
					<th class="col" th:if="${session.role == 'admin'}"></th>
				</tr>
				<tr th:each="f : ${foodList}" class="row">
					<td th:text="${f.id}" class="col"></td>
					<td th:text="${f.foodName}" class="col"></td>
					<td th:text="${f.foodType}" class="col"></td>
					<td th:text="${f.origin.regionName}" class="col"></td>
					<td class="col"><a th:href="@{{link}(link=${f.recipeLinks})}">Recipe</a></td>
					<td class="col" th:if="${session.role == 'admin'}">
						<a th:href="@{/editFood/{id}(id=${f.id})}">EDIT</a>
					</td>
					<td class="col" th:if="${session.role == 'admin'}">
						<a th:href="@{/deleteFood/{id}(id=${f.id})}">DELETE</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>